   div.gallery {
    padding:10px;
    margin: 1px 10px 10px 10px;
    border:1px solid rgb(0, 0, 0);
    float: left;
    width: 160px;
    } 
    div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.7;
    background-color: rgb(218, 98, 130);
    }   
    div.gallery img {
    width: 100%;
    height:150px;   
    }   
    div.desc {
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);   
    }
    h1,h2 {
    color: rgb(0, 0, 0) ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 50px;
    }
    .pa {
    color: rgb(0, 0, 0);
    padding-left: -10px;
    padding-bottom: -20px;
    margin-top: -15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    a:link {
    color: rgb(0, 0, 0);
    }
    a:visited {
    color: rgb(171, 36, 157);
    }
    a:hover {
    color: black;
    }
    a:active {
    color: rgb(255, 0, 89);
    }   
body{
    background-color: rgb(255, 255, 255);
}
.pb{
    margin-top: 0px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7J1fJRIXKOwUbBO670QJKtpn3VmMk0oXlWSvaUZkKsw1-WVWiZ0C9oKGGA2oPEuAjeuo&usqp=CAU');
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
    font-size: 45px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    
}
.makterial-symbolsarros {
    width: 40px;
    height: 40px;
    object-fit: cover;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: -690px;
    padding-right: 750px;
  }